﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Managment System</h1>
    <p class="lead">A game is allowed for a client if the client language is among the game languages.</p>
    <p>@Html.ActionLink("Games", "Index", "Games")</p>
</div>



