﻿@model IEnumerable<GameManagment_VeselaGeorgieva.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table id="games" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suite.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Suite.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
        $(document).ready(function (){
        $("#games").DataTable();
        });
</script>